<a href="https://colab.research.google.com/github/manasik29/Recommendation_System/blob/main/Recommendation_Systems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/Movie.csv')
df.head()

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [4]:
df.tail()

      userId             movie  rating
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

In [3]:
df.shape

(8992, 3)

In [2]:
#number of unique users in dataset
len(df.userId.unique())

4081

In [5]:
#number of unique moives in dataset
len(df.movie.unique())

10

In [7]:
#convert the dataset rows to coulms and vice-versa / convert long format data to wide format.
user_df = df.pivot(index = 'userId', columns = 'movie', values = 'rating').reset_index(drop=True)

In [8]:
user_df

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
3,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4076,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4077,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4078,NaN,3.0,4.0,5.0,NaN,3.0,1.0,NaN,4.0,NaN
4079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
4080,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,4.5,NaN

In [9]:
user_df.index = df.userId.unique()

In [10]:
user_df

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
3,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
10,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7044,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7070,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
7080,NaN,3.0,4.0,5.0,NaN,3.0,1.0,NaN,4.0,NaN
7087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
7105,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,4.5,NaN

In [11]:
#impute na values with 0, as in the cx has not watched the movie
user_df.fillna(0, inplace = True)

In [12]:
user_df

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
3,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
10,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7044,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7070,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7080,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7105,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

In [13]:
#Calculating cosine similarity between users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [18]:
user_sim = 1 - pairwise_distances(user_df.values, metric= 'cosine')

In [17]:
user_sim1 = 1 - pairwise_distances(user_df.values, metric= 'correlation')

In [19]:
user_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.55337157],
       [0.        , 1.        , 0.        , ..., 0.45883147, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       ...,
       [0.        , 0.45883147, 0.45883147, ..., 1.        , 0.45883147,
        0.47607054],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       [0.55337157, 0.        , 0.62254302, ..., 0.47607054, 0.62254302,
        1.        ]])

In [20]:
user_sim1

array([[ 1.        , -0.11111111, -0.11111111, ..., -0.35136418,
        -0.11111111,  0.47898578],
       [-0.11111111,  1.        , -0.11111111, ...,  0.35136418,
        -0.11111111, -0.21772081],
       [-0.11111111, -0.11111111,  1.        , ...,  0.35136418,
         1.        ,  0.56607411],
       ...,
       [-0.35136418,  0.35136418,  0.35136418, ...,  1.        ,
         0.35136418,  0.13769873],
       [-0.11111111, -0.11111111,  1.        , ...,  0.35136418,
         1.        ,  0.56607411],
       [ 0.47898578, -0.21772081,  0.56607411, ...,  0.13769873,
         0.56607411,  1.        ]])

In [21]:
#convert user_sim into a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [22]:
user_sim_df1 = pd.DataFrame(user_sim1)

In [28]:
#Set index and column names to user id.
user_sim_df.index = df.userId.unique()
user_sim_df.columns = df.userId.unique()

In [29]:
user_sim_df

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.553372
6,0.000000,1.000000,0.000000,0.000000,0.000000,0.390567,0.707107,0.615457,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.458831,0.000000,0.000000
8,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,1.000000,0.000000,0.707107,0.000000,0.000000,0.752577,0.458831,1.000000,0.622543
10,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.615457,0.000000,0.388514,...,0.800000,0.000000,0.000000,0.000000,0.989949,0.000000,0.000000,0.619422,0.000000,0.000000
11,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.553372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.658505,0.000000,0.000000,0.000000
7070,0.000000,0.000000,0.752577,0.000000,0.000000,0.489886,0.000000,0.370543,0.752577,0.657870,...,0.000000,0.752577,0.000000,0.532152,0.000000,0.658505,1.000000,0.345306,0.752577,0.468511
7080,0.000000,0.458831,0.458831,0.619422,0.000000,0.701884,0.567775,0.889532,0.458831,0.568212,...,0.344124,0.458831,0.000000,0.324443,0.648886,0.000000,0.345306,1.000000,0.458831,0.476071
7087,0.000000,0.000000,1.000000,0.000000,0.000000,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,1.000000,0.000000,0.707107,0.000000,0.000000,0.752577,0.458831,1.000000,0.622543
7105,0.553372,0.000000,0.622543,0.000000,0.553372,0.765455,0.391293,0.306519,0.622543,0.544201,...,0.000000,0.622543,0.553372,0.831497,0.000000,0.000000,0.468511,0.476071,0.622543,1.000000

In [30]:
#Set index and column names to user id.
user_sim_df1.index = df.userId.unique()
user_sim_df1.columns = df.userId.unique()

In [31]:
user_sim_df1

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.000000,-0.111111,-0.111111,-0.164581,1.000000,-0.211194,-0.166667,-0.265343,-0.111111,-0.158763,...,-0.111111,-0.111111,1.000000,0.666667,-0.166667,-0.111111,-0.166206,-0.351364,-0.111111,0.478986
6,-0.111111,1.000000,-0.111111,-0.164581,-0.111111,0.276176,0.666667,0.563854,-0.111111,-0.158763,...,-0.111111,-0.111111,-0.111111,-0.166667,-0.166667,-0.111111,-0.166206,0.351364,-0.111111,-0.217721
8,-0.111111,-0.111111,1.000000,-0.164581,-0.111111,0.601090,-0.166667,0.398015,1.000000,0.861858,...,-0.111111,1.000000,-0.111111,0.666667,-0.166667,-0.111111,0.720224,0.351364,1.000000,0.566074
10,-0.164581,-0.164581,-0.164581,1.000000,-0.164581,-0.312826,-0.246871,0.484273,-0.164581,0.244763,...,0.775880,-0.164581,-0.164581,-0.246871,0.987484,-0.164581,-0.246188,0.483275,-0.164581,-0.322494
11,1.000000,-0.111111,-0.111111,-0.164581,1.000000,-0.211194,-0.166667,-0.265343,-0.111111,-0.158763,...,-0.111111,-0.111111,1.000000,0.666667,-0.166667,-0.111111,-0.166206,-0.351364,-0.111111,0.478986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,-0.111111,-0.111111,-0.111111,-0.164581,-0.111111,-0.211194,-0.166667,-0.265343,-0.111111,-0.158763,...,-0.111111,-0.111111,-0.111111,-0.166667,-0.166667,1.000000,0.609421,-0.351364,-0.111111,-0.217721
7070,-0.166206,-0.166206,0.720224,-0.246188,-0.166206,0.332115,-0.249308,0.132305,0.720224,0.576752,...,-0.166206,0.720224,-0.166206,0.415514,-0.249308,0.609421,1.000000,0.035039,0.720224,0.299624
7080,-0.351364,0.351364,0.351364,0.483275,-0.351364,0.539420,0.395285,0.812868,0.351364,0.412401,...,0.175682,0.351364,-0.351364,0.000000,0.527046,-0.351364,0.035039,1.000000,0.351364,0.137699
7087,-0.111111,-0.111111,1.000000,-0.164581,-0.111111,0.601090,-0.166667,0.398015,1.000000,0.861858,...,-0.111111,1.000000,-0.111111,0.666667,-0.166667,-0.111111,0.720224,0.351364,1.000000,0.566074
7105,0.478986,-0.217721,0.566074,-0.322494,0.478986,0.668497,0.195949,-0.051994,0.566074,0.408867,...,-0.217721,0.566074,0.478986,0.783795,-0.326581,-0.217721,0.299624,0.137699,0.566074,1.000000

In [32]:
#fill diagonal values with 0
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

     3    6    8    10   11
3   0.0  0.0  0.0  0.0  1.0
6   0.0  0.0  0.0  0.0  0.0
8   0.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0
11  1.0  0.0  0.0  0.0  0.0

In [33]:
#fill diagonal values with 0
np.fill_diagonal(user_sim1, 0)
user_sim_df1.iloc[0:5, 0:5]

          3         6         8         10        11
3   0.000000 -0.111111 -0.111111 -0.164581  1.000000
6  -0.111111  0.000000 -0.111111 -0.164581 -0.111111
8  -0.111111 -0.111111  0.000000 -0.164581 -0.111111
10 -0.164581 -0.164581 -0.164581  0.000000 -0.164581
11  1.000000 -0.111111 -0.111111 -0.164581  0.000000

In [34]:
#Most similar values in top 5 rows
user_sim_df.idxmax(axis=1)[0:5]

3       11
6      168
8       16
10    4047
11       3
dtype: int64

In [42]:
#Most similar values in top 5 rows
user_sim_df1.idxmax(axis=1)[0:5]

3       11
6      667
8       16
10    4047
11       3
dtype: int64

In [43]:
df[(df['userId']==6) | (df['userId']==168)]

      userId                    movie  rating
1          6         Toy Story (1995)     5.0
60       168         Toy Story (1995)     4.5
3725       6  Grumpier Old Men (1995)     3.0
6464       6           Sabrina (1995)     5.0

In [44]:
df[(df['userId']==6) | (df['userId']==667)]

      userId                    movie  rating
1          6         Toy Story (1995)     5.0
225      667         Toy Story (1995)     4.5
3725       6  Grumpier Old Men (1995)     3.0
6464       6           Sabrina (1995)     5.0

In [45]:
#which movie to recommed
user1 = df[df['userId']==6]
user2 = df[df['userId']==11]

In [46]:
user1

      userId                    movie  rating
1          6         Toy Story (1995)     5.0
3725       6  Grumpier Old Men (1995)     3.0
6464       6           Sabrina (1995)     5.0

In [47]:
user2

      userId             movie  rating
4         11  Toy Story (1995)     4.5
7446      11  GoldenEye (1995)     2.5

In [48]:
pd.merge(user1, user2, on = 'movie', how = 'outer')

   userId_x                    movie  rating_x  userId_y  rating_y
0       6.0         Toy Story (1995)       5.0      11.0       4.5
1       6.0  Grumpier Old Men (1995)       3.0       NaN       NaN
2       6.0           Sabrina (1995)       5.0       NaN       NaN
3       NaN         GoldenEye (1995)       NaN      11.0       2.5